---
layout: default
---

<body>
  {% include header.html %}
  <div class="container">
    <div class="logo-container">
      <h1>
        <span class="gh-text">[Gh]</span> LABS
      </h1>
      <p class="company-description">Software engineering growth hormone.</p>
    </div>

    <div class="boxes-container">
      <a class="box">
        <p class="coming-soon">Coming soon</p>
        <p>MENTORING</p>
      </a>
      <a class="box">
        <p class="coming-soon">Coming soon</p>
        <p>ARTICLES</p>
      </a>
      <a class="box">
        <p class="coming-soon">Coming soon</p>
        <p>COURSE</p>
      </a>
    </div>
  </div>
  {% include footer.html %}
</body>