<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
      <h2 class="footer-heading">
        <div class="footer-heading-col-wrapper">
          <div class="footer-heading-col footer-heading-col-1">
            <span class="gh-text">[Gh]</span> <span>LABS</span>
          </div>
          <div class="footer-heading-col footer-heading-col-2">
            
          </div>
        </div>
        
        <ul class="social-media-list">
          <li>
            <a href="https://www.instagram.com/gh.labs"><svg class="svg-icon" style="padding-right: 20px;"><use xlink:href="/assets/minima-social-icons.svg#instagram"></use></svg></a>
            <a href="https://github.com/gh-labs"><svg class="svg-icon" style="padding-left: 20px;"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg></a>
          </li>
        </ul>
        
      </h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              Marcus Melo
            </li>
            <li>
              <a href="https://www.linkedin.com/in/marcus-ves-melo/"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg></a>
              <a>|</a>
              <a href="mailto:marcus.ves.melo@gmail.com">marcus.ves.melo@gmail.com</a>
            </li>
          </ul>
        </div>  
        <div class="footer-col footer-col-2">
          <p>Software engineering growth hormone,<br>Mentoring, articles and courses to accelerate your career growth.</p>
        </div>
      </div>
  
    </div>
  
  </footer>