<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">
        <span class="gh-text">[Gh]</span> <span>LABS</span>
      </h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Marcus Melo</li><li><a class="u-email" href="mailto:marcus.ves.melo@gmail.com">marcus.ves.melo@gmail.com</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2">
          <ul class="social-media-list"><li><a href="https://github.com/gh-labs"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg></a></li><li><a href="https://www.instagram.com/gh.labs"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#instagram"></use></svg></a></li></ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>Software engineering growth hormone. Mentoring, articles and courses to accelerate your growth.</p>
        </div>
      </div>
  
    </div>
  
  </footer>